{% extends "base.html" %}
{% block title %}Кильдинский саамский корпус{% endblock %}
{% block content %}  
<div class="row">
<div class="col-6 pt-4">
<h2>Описание корпуса</h2>
<p>Перед вами - корпус кильдинского саамского языка. Используя его, вы можете проводить собственные исследования лексики и грамматики этого языка.
<br>
<h2>Кильдинская саамская экспедиция</h2>
<p>Все тексты, собранные на этом сайте, были разобраны участниками нашей экспедиции, существующей с 2019 года. Среди текстов представлены как архивные данные, так и собранные в результате разговоров с носителями кильдинского саамского.
    Обычно мы работаем в селе Ловозеро, но иногда совершаем короткие вылазки в близлижащие сёла ради общения с носителями умирающих диалектов.
<br>
<h2>Описание сайта</h2>
<p>Сейчас вы находитесь на главной странице сайта. Используя верхнее меню, вы можете переместиться на страницу корпуса, используя раздел "Поиск". Также вы можете посмотреть статистику по корпусу. Сайт создан в рамках проекта по программированию. Для создания этого сайта использовались Bootstrap и CSS.</p>
<div class="row mt-5">
    <div class="col-12">
        <h2>Благодарности</h2>
        <p>Мы выражаем огромную благодарность нашим информантам, которые внесли неоценимый вклад в сохранение кильдинского саамского языка:</p>
        <ul>
            <li>Агеева Анфиса Максимовна</li>
            <li>Антонова Антонина Михайловна</li>
            <li>Афанасьева Нина Елисеевна</li>
            <li>Вельниковская Зинаида Максимовна</li>
            <li>Виноградова Ганна Александровна</li>
            <li>Гунько Галина Васильевна</li>
            <li>Галкин Семён Николаевич</li>
            <li>Кобелев Александр Андреевич</li>
            <li>Лукин Геннадий Петрович</li>
            <li>Лукин Николай Фадеевич</li>
            <li>Медведева Мария Гавриловна</li>
            <li>Пауль Ольга Гавриловна</li>
            <li>Сапельникова Анна Михайловна</li>
            <li>Фоменкова Зинаида Максимовна</li>
            <li>Хомюк Домна Максимовна</li>
            <li>Шаршина Нина Семеновна</li>
            <li>Юлина Ульяна Михайловна</li>
            <li>Яковлева Анастасия Ивановна</li>
        </ul>
    </div>
</div>
<br>
<h4>Создатель сайта</h4>
<p>Виктория Жукова, 2 курс ФиКЛа</p>
</div>
</div>
{% endblock %}