<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Поиск</h1>
    
    <!-- Форма поиска -->
    <form action="/search" method="get">
        <label for="meaning">Meaning:</label>
        <input type="text" id="meaning" name="meaning" value="{{ meaning }}" placeholder="Enter meaning"><br><br>
        
        <label for="pos">POS (Part of Speech):</label>
        <input type="text" id="pos" name="pos" value="{{ pos }}" placeholder="Enter POS"><br><br>
        
        <label for="stem">Part of Stem:</label>
        <input type="text" id="stem" name="stem" value="{{ stem }}" placeholder="Enter part of stem"><br><br>
        
        <input type="submit" value="Search">
    </form>

    <h2>Результаты поиска</h2>
    <ul>
        {% if results %}
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
        {% else %}
            <li>Ничего не найдено.</li>
        {% endif %}
    </ul>
</body>
</html>
